@page
@model WebApplication.Pages.UnauthorizedModel
@{
}
<header>
    <div style="padding: 150px; margin-left: 180px">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <br />
        <p class="text-black-50 font-weight-bold" style="font-size: 25px">Sorry :(</p>
        <p class="text-danger font-size-8 font-weight-medium" style="font-size: 20px">You do not have access to this resource.</p>
    </div>
</header>
