.headerItemText {
    text-transform: none;
    color: #130e0e;
    font-weight: bold!;
}
.headerLogo {
    height: 70px;
}
.headerContainer{
    background-color: #ffffff !important;
    width: 1500px !important;
    margin: 0;
    padding: 0;
}